spring:
  cloud:
    gateway:
      discovery:
        locator:
          lowerCaseServiceId: true
          enabled: true
      routes:
        # 认证中心
        - id: catfish-ums
          uri: lb://catfish-ums
          predicates:
            - Path=/UMS/**
          filters:
            # 剥夺前缀个数
            - StripPrefix=0
        # 文件管理中心
        - id: catfish-file
          uri: lb://catfish-file
          predicates:
            - Path=/FILE/**
          filters:
            # 剥夺前缀个数
            - StripPrefix=0

#        # 代码生成
#        - id: ruoyi-gen
#          uri: lb://ruoyi-gen
#          predicates:
#            - Path=/code/**
#          filters:
#            - StripPrefix=1
#        # 定时任务
#        - id: ruoyi-job
#          uri: lb://ruoyi-job
#          predicates:
#            - Path=/schedule/**
#          filters:
#            - StripPrefix=1
#        # 系统模块
#        - id: ruoyi-system
#          uri: lb://ruoyi-system
#          predicates:
#            - Path=/system/**
#          filters:
#            - StripPrefix=1
#        # 文件服务
#        - id: ruoyi-file
#          uri: lb://ruoyi-file
#          predicates:
#            - Path=/file/**
#          filters:
#            - StripPrefix=1

# 不校验白名单

server:
  port: 56666